.main-view-container-body {
  position: absolute;
  width: 100vw;
  margin-top: 200px;
  height: max-content;
  background-color: #f9f9f9;
}

.onboarding-step {
  width: 60%;
  margin: 3em auto 0 auto;
  padding-left: 50px;
  font-family: "Nunito", sans-serif;
}
