$slide-in-duration: 0.5s;
$slide-out-duration: 0.5s;
$first-slide-in-duration: 0.75s;
$last-slide-out-duration: 0.5s;

:export {
  firstSlideInDuration: $first-slide-in-duration;
  slideInDuration: $slide-in-duration;
  slideOutDuration: $slide-out-duration;
  lastSlideOutDuration: $last-slide-out-duration;
}

.cardWrapper {
  margin: 2em auto 2em auto;
  border-radius: 10px;
  // width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  // font-size: 3em;
  // font-weight: bold;
  background-color: white;
  border-left: 10px solid #ffbd59;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  p {
    // color: #ffbd59;
  }

  button {
    font-size: 1em;
  }

  &:first-child {
    transition: 1s ease;
  }

  &:first-child::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    margin-left: 0%;
    // margin-top: 0.5em;
    height: calc(100%);
    background-color: #ffbd59;
    transition: width 1s ease;
    z-index: 5;
    border-radius: 10px;
  }

}

.cardWrapperWithBackground {
  &:first-child {
    width: 60%;
    margin-left: 20%;
  }
}

.cardWrapperNoSideBorder {
  border-right: 0px solid black!important;
}

.cardWrapperNoBackground {
  background-color: transparent;
  border-left: 0px;
  // border-right: 2px solid #ffbd59;
  border-radius: 0px;
  box-shadow: none;
  padding: 0em;
  // width: fit-content!important;
  width: 100%; 
  margin: 2em auto;

  p {
    padding: 0em!important;
  }

  &:first-child::before {
    background-color: transparent;
  }
}

.cardWrapperFirst.cardWrapperWithBackground {
  &:first-child::before {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  &:first-child {
    overflow: hidden;
    * {
      text-wrap: nowrap;
    }
  }
  animation: $first-slide-in-duration beginSlideCard ease both;
}

.cardWrapperFirst.cardWrapperNoBackground {
  &:first-child::before {
    width: 100%;
    margin-left: 0px;
  }
  &:first-child {
    overflow: hidden;
    * {
      text-wrap: nowrap;
    }
  }
  animation: $first-slide-in-duration beginSlideCardNoBackground ease both;
}

.cardWrapperBegin.cardWrapperWithBackground {
  &:first-child::before {
    animation: $slide-in-duration beginSlideBeforeElement ease both;
  }
}

// .cardWrapperBegin.cardWrapperNoBackground {
//   &:first-child::before {
//     animation: $slide-in-duration beginSlideBeforeElementNoBackground ease both;
//   }
// }

.cardWrapperEnd.cardWrapperWithBackground {
  &:first-child::before {
    animation: $slide-out-duration endSlideBeforeElement ease both;
  }
}

// .cardWrapperEnd.cardWrapperNoBackground {
//   &:first-child::before {
//     animation: $slide-out-duration endSlideBeforeElementNoBackground ease both;
//   }
// }

.cardWrapperLast.cardWrapperWithBackground {
  &:first-child::before {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  &:first-child {
    overflow: hidden;
    * {
      text-wrap: nowrap;
    }
  }
  animation: $last-slide-out-duration endSlideCard ease both;
}

.cardWrapperLast.cardWrapperNoBackground, .cardWrapperEnd.cardWrapperNoBackground {
  &:first-child::before {
    width: 100%;
    margin-left: 0px;
  }
  &:first-child {
    overflow: hidden;
    * {
      text-wrap: nowrap;
    }
  }
  animation: $last-slide-out-duration endSlideCardNoBackground ease both;
}

@keyframes beginSlideCard {
  0% {
    width: 0%;
    margin-left: 20%;
  }
  50% {
    border-left: 0px solid #ffbd59 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  100% {
    width: 60%;
    margin-left: 20%;
    border-left: 10px solid #ffbd59;
  }
}

@keyframes beginSlideBeforeElement {
  0% {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  100% {
    width: 0%;
    margin-left: calc(100% + 10px);
  }
}

@keyframes endSlideCard {
  0% {
    width: 60%;
    margin-left: 20%;
    border-left: 10px solid #ffbd59;
  }
  50% {
    border-left: 0px solid #ffbd59 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  100% {
    width: 0%;
    margin-left: 80%;
  }
}

@keyframes endSlideBeforeElement {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  100% {
    width: calc(100% + 20px);
    margin-left: calc(0% - 10px);
  }
}





@keyframes beginSlideCardNoBackground {
  0% {
    width: 0%;
    border-right: 2px solid #ffbd59;
  }
  50% {
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  75% {
    width: 100%;
    border-right: 2px solid #ffbd59;
  }
  
  100% {
    width: 100%;
    border-right: 0px solid #ffbd59;
  }
}

// @keyframes beginSlideBeforeElementNoBackground {
//   0% {
//     width: 100%;
//     margin-left: 0px;
//   }
//   100% {
//     width: 0%;
//     margin-left: 100%;
//   }
// }

@keyframes endSlideCardNoBackground {
  0% {
    width: 100%;
    border-right: 0px solid #ffbd59;
  }
  25% {
    border-right: 2px solid #ffbd59;
  }
  50% {
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  100% {
    width: 0%;
    border-right: 2px solid #ffbd59;
  }
}

// @keyframes endSlideBeforeElementNoBackground {
//   0% {
//     width: 0%;
//     margin-left: 0%;
//   }
//   100% {
//     width: 100%;
//     margin-left: 0%;
//   }
// }
