.github-text {
  font-size: 3em;
  margin: 0.5em;
}

.github-component {
  padding: 1em 1.25em;
  font-weight: bold;

  button {
    margin: 0 1.5em 1.5em 1.5em;
  }

  p {
    color: #ffbd59;
  }
}

.github-component-subtext {
  font-size: 1.8em;
  margin: 0em 1.5em 4em 1.5em;
  text-wrap: wrap;
}

.github-profile-username {
  font-size: 1.5em;
  color: black !important;
  margin: auto 20px auto auto;
}

.github-profile-img {
  height: 4em;
  margin: auto 1.5em auto 0;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
