.markdown-component {
  * {
    // font-size: 0.75em;
    font-family: "Nunito", sans-serif;
  }
}

.markdown-header {
  margin: 1.5em;
  margin-bottom: 1em;
  font-weight: 800;
}

.markdown-continue-btn {
  width: fit-content;
  margin: 0 2em 2em auto;
}

.markdown-text {
  margin: 2em 4em;
}
