.video-component {
  padding: 3em 4em;
  font-family: "Nunito", sans-serif;

  iframe {
    border-radius: 10px;
  }
}

.video-player {
  width: 60%;
}

.video-side {
  margin: 0.75em 0 0.75em 0em;
  height: inherit;
  width: calc(40% - 4em);
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.25em;
  }
}

.video-text {
  font-size: 3em;
  font-weight: 800;
  margin: 0;
}

.video-continue-btn-wrapper {
  margin: auto 0 0 auto;
}
