.welcome-component {
  min-height: 30vh;
  height: 100vh;
}

.welcome-part-wrapper {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.welcome-part {
  background-color: rgba(255, 255, 255, 0.825);
  text-align: center;
  padding: 10vh 0;
  min-height: 25vh;
  margin: auto 20vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    padding-left: 1em;
    padding-right: 1em;
  }

  div {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }
}

.welcome-part-text {
  margin: 0;
  color: black !important;
  font-size: 2.5em;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;

  span {
    color: #ffbd59;
    font-weight: 800;
  }
}

.welcome-part-button {
  text-decoration: none;
  background-color: #eee;
  border: none;
  border-left: 10px solid #ffbd59;
  margin: 0em auto 0em auto;
  padding: 1em 3em;
  border-radius: 10px;
  min-width: 5em;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.1s ease;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-weight: 500;

  p {
    margin: 0;
    z-index: 2;
    position: relative;
    color: black !important;
  }

  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #ffbd59;
    transition:
      0.25s ease,
      margin 0.5s ease;
    z-index: 0;
    border-radius: 10px;
    margin-left: 0;
  }

  &:hover {
    &::before {
      width: calc(100% + 10px);
      margin-left: -10px;
      transition: width 0.25s ease;
    }
  }
}
